/* This is to fix the size of the right section, .Gallery will take care of the flex and padding */
.GalleryPage {
    display: flex; /* otherwise, the default display is flow */
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3d4e85;
}

.GalleryContainer {
    color: aliceblue;
    float: left;
    flex: 1;
}

.Gallery {
    text-align: center;
}

@media (max-width: 600px) {
    .GalleryPage {
        flex-direction: column;
    }

    .GalleryContainer {
        text-align: center;
    }

    .Gallery {
    }
}
