.ImageCard {
    height: 400px;
    width: 300px;
    box-shadow: 3px 3px lightblue;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: floralwhite;
    color: darkslateblue;
    display: inline-block;
    white-space: pre-line;
    display: inline-block;
}

    .ImageCard > p {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 10px);
        height: 130px; /* Idk how to make this fill the remainder of the vertical space, or add ellipses to multiline text */
        white-space: nowrap;
        margin: auto; /* text centering */
    }

.ImageCard-pic {
    max-height: 40%;
    object-fit: contain; /* keep aspect ratio */
    margin-top: 20px;
}

@media (max-width: 600px) {
    .ImageCard {
        margin-top: 20px;
        width: 80vw;
    }

    .ImageCard-pic {
        width: 60vw;
    }
}