.Sidenavi {
    width: 300px;
    background-color: #4d6182;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    box-sizing: border-box;
}

.Sidenavi-pic {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    clip-path: circle(); /* makes image a circle */
    pointer-events: none;
}

.Sidenavi > p {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .Sidenavi {
        width: unset;
        vertical-align: unset;
    }

    .Sidenavi-heading {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        align-items: center;
        white-space: initial;
    }

    .Sidenavi-heading > h1 {
        margin-top: 80px;
    }

    .Sidenavi > p {
    }
}